*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    width: 100%;
    
    
}
html {
  scroll-behavior: smooth;
}

.head-container{
    width: 100%;
    
    
}

.head-title{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 1px 3px 10px 2px rgba(71, 69, 69, 0.2);
    
    position: fixed;

}
.text-head{
    display: flex;
    flex: 1;
    margin-left: 50px;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
    color: rgb(13, 93, 231);
}
ul.head-menu{
    display: flex;
    width: 350px;
    justify-content:space-between;
    margin-right: 100px;
    padding: 20px;
    list-style-type: none;
}
li>a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 100;
}

.menu-icon {
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 9px;
  display: none;
}

.menu-icon span {
  height: 4px;
  background-color: rgb(125, 125, 125);
  border-radius: 2px;
  width: 100%;
  position: relative;
}

.menu-icon {
  height: 4px;

  border-radius: 2px;
  width: 100%;
  position: relative;
}

.main-container{
    width: 100%;
    padding: 0;
    margin: 0;
}

.dropdown-content{
 
  display: none;
  padding: 0;
  width: 300px;
  background: white;
  text-align: center;
   
}
div.dropdown-content > a{
text-decoration: none;

 font-family: Arial, Helvetica, sans-serif;
 padding: 10px;
 color: black;
 
 
}

.menu-icon:hover .dropdown-content {
  display: initial;
  position: absolute;
  top:100%;
  right: 0;
  display: flex;
  flex-direction: column;
}


.dropdown-content > a:hover {
  color: white;
  background-color: #424242;
  width: 100%;
}


.home{
   width: 100%;
    
}

.about{

    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
}

.projects{

    background-color: rgb(16, 137, 137);
}

.text-home{

    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    font-weight:700;
    font-size: 40px;
}
.sectext-home{
    font-family: Arial, Helvetica, sans-serif;
    width:400px;
    margin-top:30px;
   
}

.btn-home{
    width: 135px;
    padding: 15px;
    color: white;
    font-weight: bold;
    background-color: rgb(13, 93, 231);
    border-radius: 10px;
    border: none;
    margin-top: 30px;
}
.btn-home >a{
   
    color: white;
    font-weight: bold;
    text-decoration: none;
   
}



.pic-title >img{
  width: 230px;
  border-radius: 300px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.pic-title{
  width: 50%;
  border-radius: 300px;
}
.home-title{
    width: 100%;
    background-color: rgb(235, 236, 236);
    display: flex;
    
}

.homecontainer{
    width: 70%;
    padding: 50px;

}

.container-about{
    width: 70%;
    padding: 50px;
}
.container-skills{
    width: 30%;
    margin-right: 100px;
}
.title-about{
    font-size: 31px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
   
}
.par-about{
    width: 700px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
.text-skills{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
.progress-container {
    width: 100px;
    height: 7px;
    margin-bottom: 3px;
    background-color: rgb(224, 224, 224);
    border-radius: 4px;
    transition: width 0.3s ease;
    margin-left: 100px;
    position: relative;
    
}

.progress-fill {
    position: absolute;
    width: 5px;
    height: 7px;
    margin-bottom: 3px;
    background-color: rgb(13, 93, 231);
    border-radius: 4px;
    transition: width 0.3s ease;
    
    
}





ul.il-prog > li {
    display: flex;
    margin-right: 100px;
    margin-bottom: 10px;
    justify-content: flex-end;
    justify-content: space-between;

}

li > p {

     font-family: Arial, Helvetica, sans-serif;
}

.projects{
    width: 100%;
    background-color:  rgb(235, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
.project-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.title-projects{
    text-align: center;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
     font-size: 31px;
   

}

.propic1{

    width: 100%;
    height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}
.project1{
    
    width: 25%;
    display: flex;
    flex-direction: column;
   
   
}

.prodiv1{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.propic2{

    width: 100%;
    height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}


.prodiv2{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.propic3{

    width: 100%;
    height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}


.prodiv3{
   width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.title-project{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin-bottom: -10px;

}
.prodiv2 >p{
    padding: 15px;
}
.prodiv1 >p{
    padding: 15px;
}
.prodiv3 >p{
    padding: 15px;
}
.btn{
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 174, 0);
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    margin-left: 15px
}





.contact{

    width: 100%;
}

.title-contact{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.input-contact{
    width: 60%;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
}
.input-1{

    margin-top: 80px;
   margin-bottom: 20px;
}

input{
    padding-top: 15px;
    margin-left: 50px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input-2{
   margin-top: 5px;
}
.area1{
   margin-top: 20px;
   width: 100%;
}
textarea{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 50px;
    margin-left: 50px;
    width: 90%;
}

form.input-contact div> p{
    
    margin-left: 50px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-form{
    margin-top: 20px;
    width: 30%;
    margin-left: 50px;
    padding-bottom:10px ;
    padding-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(13, 93, 231);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: none;

}

.information1{
       width: 100%;
       margin: auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 30px;
       font-family: Arial, Helvetica, sans-serif;
    
}
.icons{

    display: flex;
    margin-left: 60px;
    margin-bottom: 100px;
    margin-right: 50px;
   
}
div.icons > a{

    margin: 10px;
}
.ic{
    margin-top: 20px;
    color: white;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    padding: 11px;
    
    background-color:rgb(13, 93, 231);
}

div.information1 > p{

    margin-top: 10px;
    display: block;
    
    
}


.footer-text{

    width: 100%;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(33, 48, 91);
    color: white;
}

@media(max-width:600px){
.menu-icon {
  width: 30px;
  height: 20px;
  display: flex;
  margin: 20px;
}
ul.head-menu{
   display: none;
  
}
.text-head{
   
    margin-left: 30px;
}

.home-title{
    width: 100%;
    background-color: rgb(235, 236, 236);
    display: block;
    
}
.homecontainer{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sectext-home{
    font-family: Arial, Helvetica, sans-serif;
    width:300px;
    margin-top:30px;
   
}
.pic-title{
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 300px;
  margin-top: -30px;
}

.about{

    background-color: rgb(255, 255, 255);
    width: 100%;
    display: block;
}
.container-about{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.par-about{

    width:100%;
    text-align: center;
}
.container-skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.il-prog{
     width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    
}

.project-container{
    width: 100%;
    display: flex;
    flex-direction: column;
   
    margin-bottom: 50px;
}
.project1{
    
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
   
}

.btn{
    width: 90%;
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 174, 0);
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    margin-left: 15px
}
.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.input-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
}

input{

    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: 100%;
    text-align: center;
    width: 90%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form.input-contact div> p{
    
    margin-left: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 50px;
    margin:auto ;
    width: 90%;
    display: flex;
}

.btn-form{
    width:92%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
}

.information1{
       width: 100%;
       margin: auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 100px;
       font-family: Arial, Helvetica, sans-serif;
    
}
.icons{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
   
}
div.icons > a{

    margin: 10px;
}

.text-info{
    width: 100%;
    text-align: center;
}

}
